<div class="accordion-body">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <%= task.due_date %>
      <%= link_to task.description, category_task_path(category, task) %>
    </div>
    <div>
      <%= button_to "Complete", category_task_path(category, task), method: :delete, class: "btn btn-primary" %>
    </div>
  </div>
</div>
